In [101]:
import numpy as np
import random
import pandas as pd
import seaborn as sea
import matplotlib.pyplot as plt

In [102]:
x=1242
xc=[]
yb=[]
for y in range(100):
    random.seed(x)
    c=random.uniform(0.00001, 0.00099)
    b=random.uniform(1000000, 9999999)
    x=x+1
    xc.append(c)
    yb.append(b)

In [103]:
xc

[8.757940802525823e-05,
 0.0007246625932276515,
 0.00027934290214242903,
 0.0005373804300722486,
 0.00017311104967389858,
 0.0007684688936111034,
 0.0005665665838806031,
 0.0005022275351404493,
 0.00015316667039617655,
 0.0006952477265055133,
 0.0007838478501395497,
 0.0007279305688033422,
 0.00043562498129813787,
 0.0003905121871437314,
 0.0005460737481375393,
 0.0005098254322124495,
 0.00014443868502483475,
 0.00038800823358225447,
 9.866997008676768e-05,
 8.583621524262793e-05,
 0.0001981014673717385,
 0.0009573301576933175,
 0.00013053012778985998,
 1.598917119170447e-05,
 0.0009626828421935624,
 7.383394861184649e-05,
 9.224367359110908e-05,
 0.0007340669983669257,
 0.0005676729115618884,
 0.0003503411504511215,
 0.00023203036299110995,
 0.0008592016548377892,
 0.0001257414466991865,
 0.00064943442733659,
 0.00025401893910839105,
 0.00022703000125858788,
 6.934357240590912e-05,
 0.0007284909589469916,
 0.0008812698225967188,
 0.00022546319049636024,
 6.3145631891779e-05,
 0.00033046479626950095,
 0.0004972690934713682,
 0.00025688968772892454,
 0.00033801226805387586,
 0.0004464590408012985,
 0.0008425346920334167,
 0.0005732316809993311,
 0.0008442808014902914,
 0.0005714166596685321,
 0.000414203612609384,
 0.0003059928781660994,
 0.0008863388437548043,
 0.00010414080452127365,
 0.0004752255925045911,
 0.0004403635248262314,
 0.0009446524443139337,
 0.00032534051513200994,
 0.00036345947919378096,
 0.0008299325909898999,
 0.000831651745834646,
 0.00036864315508060037,
 0.00039896241644263466,
 0.0001772559489349696,
 0.0007797238291795315,
 0.0005730727598460334,
 0.0004977591089294792,
 0.0004989935845273741,
 0.0009209748749145704,
 0.00015202813621849066,
 0.0005553594362712699,
 0.0008702700226435715,
 0.0003955118758069666,
 0.00039273142522992696,
 0.0002159061429984136,
 0.0006153001076711751,
 0.0008498025646138665,
 0.00040533943161825525,
 0.00015325944967585394,
 0.0005331221582719294,
 0.00041248834316018454,
 0.0009379807784435902,
 0.00047007742879112485,
 0.0009269545423975335,
 0.0004912544661761139,
 0.0002380653801001364,
 0.00014811890763018619,
 0.00040381839942748616,
 0.0003519924232461805,
 0.0005755401089646894,
 5.628284834127213e-05,
 0.0004862476653685202,
 0.0006624462447338402,
 0.0007303767719748018,
 0.0005097881682278324,
 0.0006153977998124413,
 0.0008597065884081717,
 0.0006251576923006397,
 0.0003552570395420526,
 0.00045392459061701745]

In [104]:
yb

[3893035.745922283,
 4299627.143197995,
 9390647.015043197,
 2419693.1433949172,
 5745792.488447742,
 1713684.965691335,
 9405125.807721032,
 6960221.562827839,
 6625430.8188820835,
 9948378.87670516,
 3733650.6370106367,
 7078584.283204911,
 3432604.512150164,
 2176218.7547097327,
 2018803.154629896,
 2822144.2994555747,
 9525550.031902531,
 7417499.057010638,
 3946290.634347428,
 1966927.3278108598,
 2951016.555869225,
 8751311.629627053,
 4518055.327300971,
 6289903.524197882,
 2844177.808381881,
 3675096.3702943684,
 1605675.3965597341,
 8234238.890266034,
 3078196.733711362,
 5875395.941674413,
 1118706.120550178,
 5792781.604717568,
 3914127.2656456092,
 9418416.26485026,
 8352116.159857189,
 7797141.327049133,
 8969512.45518962,
 6616787.885026337,
 4239927.13267122,
 9648224.3544021,
 2776438.88867376,
 1087088.0568429874,
 5357830.646482259,
 4653315.743119577,
 1011155.2747149064,
 9025343.70137161,
 6728055.063008332,
 6935502.798737122,
 9957419.157447265,
 4487930.776324494,
 5856656.892960496,
 1474921.9695773236,
 4240044.869158465,
 8151007.009420588,
 4244051.302780511,
 9063978.272881888,
 2747107.427125468,
 7370797.039044173,
 4530698.623241013,
 5483558.822825961,
 2120909.0088595245,
 8869518.408560062,
 8642866.826808225,
 4560227.52261465,
 5321724.388991263,
 7259325.744866377,
 2619282.9773594756,
 7543982.552555137,
 6187260.140612746,
 3914640.4145044843,
 5560132.738450274,
 8933331.394106569,
 4796816.210350612,
 4448839.942383483,
 3226762.014849194,
 3866881.9455284723,
 3510811.0184470853,
 8914006.787127182,
 5916395.581588179,
 4994553.50966864,
 3630193.237818885,
 4980323.127265805,
 4508650.194393219,
 9223655.38595408,
 9758713.069760371,
 5727366.374890214,
 5638025.320168609,
 2382020.956554735,
 2462879.5922350213,
 5366298.826230699,
 4453464.971281849,
 9366962.379754204,
 7770568.845309444,
 9920061.841989316,
 1942992.5854661164,
 5799389.629179434,
 7253179.720553033,
 3478032.018622476,
 8695478.328272022,
 6133791.089941932]

In [105]:
frame=pd.DataFrame({"xc":xc,"yb":yb})

In [106]:
frame

          xc            yb
0   0.000088  3.893036e+06
1   0.000725  4.299627e+06
2   0.000279  9.390647e+06
3   0.000537  2.419693e+06
4   0.000173  5.745792e+06
..       ...           ...
95  0.000615  5.799390e+06
96  0.000860  7.253180e+06
97  0.000625  3.478032e+06
98  0.000355  8.695478e+06
99  0.000454  6.133791e+06

[100 rows x 2 columns]

In [107]:
dataR=frame.astype(np.float32)
dataT=frame.astype(np.float64)

In [108]:
dataR

          xc          yb
0   0.000088  3893035.75
1   0.000725  4299627.00
2   0.000279  9390647.00
3   0.000537  2419693.25
4   0.000173  5745792.50
..       ...         ...
95  0.000615  5799389.50
96  0.000860  7253179.50
97  0.000625  3478032.00
98  0.000355  8695478.00
99  0.000454  6133791.00

[100 rows x 2 columns]

In [109]:
dataT

          xc            yb
0   0.000088  3.893036e+06
1   0.000725  4.299627e+06
2   0.000279  9.390647e+06
3   0.000537  2.419693e+06
4   0.000173  5.745792e+06
..       ...           ...
95  0.000615  5.799390e+06
96  0.000860  7.253180e+06
97  0.000625  3.478032e+06
98  0.000355  8.695478e+06
99  0.000454  6.133791e+06

[100 rows x 2 columns]

In [126]:
meanR1=np.mean(dataR["xc"])
meanR2=np.mean(dataR["yb"])
meanT1=np.mean(dataT["xc"])
meanT2=np.mean(dataT["yb"])
print("nilai mean f32:",meanR1," dan ",meanR2)
print("nilai mean f64:",meanT1," dan ",meanT2)
print(f"Perbedaan Mean: {abs(meanR1- meanT1)} dan {abs(meanR2- meanT2)}")

nilai mean f32: 0.00047283235  dan  5530939.5
nilai mean f64: 0.0004728323749064097  dan  5530939.379675194
Perbedaan Mean: 2.018945308244341e-11 dan 0.12032480631023645

In [127]:
varR1=np.var(dataR["xc"])
varR2=np.var(dataR["yb"])
varT1=np.var(dataT["xc"])
varT2=np.var(dataT["yb"])
print("nilai varians f32:",varR1," dan ",varR2)
print("nilai varians f64:",varT1," dan ",varT2)
print(f"Perbedaan varians: {abs(varR1- varT1)} dan {abs(varR2- varT2)}")

nilai varians f32: 6.900365e-08  dan  6490596300000.0
nilai varians f64: 6.900364982875588e-08  dan  6490596413402.332
Perbedaan varians: 2.5881495102796277e-15 dan 102362.33203125

In [112]:
np.mean(frame)

np.float64(2765469.690074013)

In [113]:
correlation=dataR.corr()
correlation

         xc       yb
xc  1.00000  0.11984
yb  0.11984  1.00000

In [114]:
correlation2=dataT.corr()
correlation2

         xc       yb
xc  1.00000  0.11984
yb  0.11984  1.00000

In [115]:
def kahan_sum(numbers):
    total = 0.0
    compensation = 0.0
    for num in numbers:
        y = num - compensation
        t = total + y
        compensation = (t - total) - y
        total = t
    return total

In [116]:
kahan_sum(frame['yb'])

553093937.9675194

In [117]:
np.sum(frame["yb"])

np.float64(553093937.9675194)

In [118]:
np.sum(dataR["yb"])

np.float32(553093950.0)

In [128]:
kahan_sum(dataR["yb"])

553093936.125

In [119]:
np.sum(dataT["yb"])

np.float64(553093937.9675194)

In [129]:
kahan_sum(dataT["yb"])

553093937.9675194

In [120]:
def z_score_normalization(data):
    mean = np.mean(data)
    std = np.std(data)
    return (data - mean) / std

In [134]:
zframe1=z_score_normalization(dataT['xc'])
zframe2=z_score_normalization(dataT['yb'])
zframe=pd.DataFrame({"xc":zframe1,"yb":zframe2})
zframe

          xc        yb
0  -1.466594 -0.642904
1   0.958676 -0.483310
2  -0.736582  1.514998
3   0.245724 -1.221215
4  -1.140989  0.084333
..       ...       ...
95  0.542723  0.105371
96  1.472766  0.676007
97  0.579877 -0.805800
98 -0.447590  1.242133
99 -0.071979  0.236629

[100 rows x 2 columns]

In [122]:
zmean1=np.mean(zframe['xc'])
zmean2=np.mean(zframe['yb'])
zvar1=np.var(zframe['xc'])
zvar2=np.var(zframe['yb'])
zcorrel=zframe.corr()

In [123]:
zmean1

np.float64(2.1191381982532675e-16)

In [124]:
print("mean: ",zmean1,",",zmean2)
print("var:  ",zvar1,",",zvar2)

mean:  2.1191381982532675e-16 , 1.0630385460785874e-16
var:   1.0000000000000002 , 1.0000000000000002

In [125]:
zcorrel

         xc       yb
xc  1.00000  0.11984
yb  0.11984  1.00000

In [133]:
zframe11=z_score_normalization(dataR['xc'])
zframe21=z_score_normalization(dataR['yb'])
zframe22=pd.DataFrame({"xc":zframe11,"yb":zframe21})
zframe22

          xc        yb
0  -1.466594 -0.642904
1   0.958676 -0.483310
2  -0.736582  1.514998
3   0.245724 -1.221215
4  -1.140989  0.084333
..       ...       ...
95  0.542723  0.105371
96  1.472766  0.676007
97  0.579877 -0.805800
98 -0.447590  1.242133
99 -0.071979  0.236629

[100 rows x 2 columns]

In [136]:
zmean3=np.mean(zframe22['xc'])
zmean4=np.mean(zframe22['yb'])
zvar3=np.var(zframe22['xc'])
zvar4=np.var(zframe22['yb'])
zcorre2=zframe22.corr()

In [137]:
print("mean: ",zmean3,",",zmean4)
print("var:  ",zvar3,",",zvar4)

mean:  6.854534e-08 , -6.273389e-08
var:   1.0000001 , 1.0000001

In [138]:
zcorre2

         xc       yb
xc  1.00000  0.11984
yb  0.11984  1.00000

In [139]:
print(f"Perbedaan Mean: {abs(zmean1- zmean3)} dan {abs(zmean2- zmean4)}")
print(f"Perbedaan var: {abs(zvar1- zvar3)} dan {abs(zvar2- zvar4)}")

Perbedaan Mean: 6.854533985869992e-08 dan 6.273388930083667e-08
Perbedaan var: 1.1920928932873665e-07 dan 1.1920928932873665e-07

bisa dilihat bahwa terdapat error pembulatan, hal ini yang menyebabkan berbedanya hasil perhitungan float 32 dengan float 64. hal tersebut terjadi karena float 32 mrnyimpan jumlah digit yang lebih kecil dibanding float 64, maka pada float 32 terjadi pembulatan, dan itu penyebab error pembulatan.

untuk Kahan Summation, hanya mempengaruhi hasil pada data di float 32 dan tidak mempengaruhinya pad data dengan float 64. 
normalisasi merubah hasil memnjadi bentuk score normal atau zscore, hal tersebut mengurangi digit yang disimpan dan menambah akurasi data.

untuk mengurangi error dapat digunakan teknik:
- melakukan normalisasi data sebelum analisis
- menggunakan algoritma penjumlahan yang stabil, seperti kahan summation
- menggunakan presisi yang tinggi, seperti float 64